.buttonDelete {
  color: rgb(255, 68, 0);
  border: none;
  align-items: center;
  justify-content: center;
  width: 50x;
  height: 30px;
  background-color: white;
}

.buttonUpdate{
  color: rgb(4, 10, 173);
  border: none;
  align-items: center;
  justify-content: center;
  width: 50x;
  height: 30px;
  background-color: white;
}

.buttonFavorite{
  color: rgb(38, 173, 4);
  border: none;
  align-items: center;
  justify-content: center;
  width: 50x;
  height: 30px;
  background-color: white;
}

.principal {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  h3{
    justify-content: center;
    align-items: center;
    margin: 0;

    color: rgb(0, 13, 255);
    font-size: 0.9rem;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    border: none;
  }
}

.labelP{
  color: rgb(89, 113, 249);
  font-size: 0.8rem;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;

}

.container {
  display: flex;
  box-shadow: 5px 0px 5px  lightblue;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
