<li class="list-group-item container" [ngClass]="toggleClass()">

    <div class="form-check d-inline principal">

        <input type="checkbox" class="form-check-input" id="complete" (change)="onChange()">
        <label for="complete" class="form-check-label lead">{{todoInput.id}}</label>
    </div>
    <div class="form-check principal">

      <label for="complete" class="form-check-label lead labelP">{{todoInput.nome}}</label>
    </div>
    <div class="form-check principal">

      <label for="complete" class="form-check-label lead labelP">{{todoInput.email}}</label>
    </div>
    <div class="form-check principal">

      <label for="complete" class="form-check-label lead labelP">{{todoInput.telefone}}</label>
    </div>
    <div class="form-check principal">

     <label for="complete" class="form-check-label lead labelP">{{todoInput.idade}}</label>
    </div>
    <div class="form-check  principal">

      <label for="complete" class="form-check-label lead labelP">{{todoInput.dataNascimento | date: 'dd/mm/yyyy' }}</label>
    </div>

    <div class="float-right">
        <span class="mx-3">{{todoInput.date | date}}</span>
        <button class="buttonFavorite"><i (click)='isFavorite()' [ngClass]="todoInput.isFavorite? 'text-danger' : '' "><mat-icon>favorite_border</mat-icon></i></button>
        <button class="buttonUpdate" (click)="editForm()"><mat-icon>edit</mat-icon></button>
        <button class="buttonDelete" (click)="removeHandler(todoInput.pessoaId!)"><mat-icon>delete_outline</mat-icon></button>
    </div>
</li>
<i class="fa-solid fa-pen-to-square"></i>
